<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">Goals and mission of the company</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Who we are?</h4>
                    <p> We are focussed to deliver easily manageable solutions based on cutting edge IoT technology which will direclty impact the daily business activities of any company. We identify the pain points in you existing businesses and give solutions to overcome them with our easily integrable solutions.
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Our vision</h4>
                    <p>To build the infrastructure required to allow customers to outsource all their transportation needs domestically, internationally, and globally. </p>
                </div>
                <div class="col-md-4 text-center">
                    <h4 class="service-heading">Our mission</h4>
                    <p>To provide zero-defect quality fleet management with advanced computer technology, in an efficient and customer-driven manner, resulting in total satisfaction for our customers.</p>
                </div>
            </div>
        </div>
    </section>